.video {
  $size: 4px;
  &__select {
    margin-right: 12px;
    cursor: pointer;
    position: relative;
  }

  &__select-current {
    padding: $size $size * 2;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    transition: background-color 333ms;

    &:hover {
      background-color: rgba(white, 0.25);
    }

    &:active {
      background-color: rgba(white, 0.2);
    }
  }

  &__select-options {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    background-color: rgba(black, 0.5);

    bottom: 44px;
    left: 50%;

    border-radius: 5px;

    transform: translateX(-50%);

    pointer-events: none;

    transition: opacity 333ms;
    opacity: 0;
  }

  &__show-options {
    opacity: 1;
    pointer-events: all;
  }

  &__select-option {
    text-align: center;
    width: 100%;
    padding: $size $size * 2;

    border-radius: 5px;

    transition: background-color 333ms;

    &:hover {
      background-color: rgba(white, 0.25);
    }

    &:active {
      background-color: rgba(white, 0.2);
    }
  }
}
